<!-- src/modules/mailer/templates/like-notification.hbs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Bài viết của bạn đã được thích</title>
</head>
<body>
  <h1>Bài viết của bạn đã được thích</h1>
  <p>Bài viết "{{recipeTitle}}" của bạn đã nhận được một lượt thích mới!</p>
</body>
</html>
