<!-- src/modules/mailer/templates/notification.hbs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Thông báo mới</title>
</head>
<body>
  <h1>Thông báo mới</h1>
  <p>{{message}}</p>
</body>
</html>
