<!-- src/modules/mailer/templates/unlike-notification.hbs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Bài viết của bạn đã bị bỏ thích</title>
</head>
<body>
  <h1>Bài viết của bạn đã bị bỏ thích</h1>
  <p>Bài viết "{{recipeTitle}}" của bạn đã bị bỏ thích bởi một người dùng.</p>
</body>
</html>
