<!-- src/modules/mailer/templates/verification.hbs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Xác thực Email</title>
</head>
<body>
  <h1>Xác thực Email</h1>
  <p>Vui lòng nhấp vào liên kết dưới đây để xác thực email của bạn:</p>
  <a href="{{url}}">Xác thực Email</a>
</body>
</html>
